<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Turn off default phone number formatting in MS EDGE -->
    <meta name="format-detection" content="telephone=no">

    <!-- Google Web Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&amp;subset=latin-ext" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500&amp;subset=latin-ext" rel="stylesheet">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Local CSS -->
    <link rel="stylesheet" href="css/local.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <title>Your site name</title>
</head>

<body>

    <div class="container-fluid topPageBar-container">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div id="topPageBar" class="fixed-height">
                        <div class="toggle-button">
                            <span class="glyphicon glyphicon-menu-hamburger"></span>
                        </div>
                        <header class="brand-name">Your site name</header>
                        <nav class="nav-links">
                            <a href="#contentMain" data-slide-to="0">home</a>
                            <a href="#contentMain" data-slide-to="1">first link</a>
                            <a href="#contentMain" data-slide-to="2">second link</a>
                            <a href="#contentMain" data-slide-to="3">third</a>
                            <a href="#contentMain" data-slide-to="4">fourth</a>
                            <a href="#contentMain" data-slide-to="5">fifth</a>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Main page content -->

    <div id="contentMain" class="carousel slide">

        <div class="carousel-inner">

            <!-- Each ITEM is separate slide / screen of webpage -->

            <div class="item active landing-page">

                <div class="demo">
                    <h1>Website template based on BOOTSTRAP's Carousel</h1>
                    <p>This template provides responsive structure for web page. As you already know - structure of this template is based on Carousel component from BOOTSTRAP framework. That means that every "page" of this template is single Carousel's
                        slide. You can change "pages"/slides of the site using top navigation.
                    </p>
                    <p>
                        From technical point of view this template is One Page Website template so you put ALL your content into ONE html file.
                    </p>
                    <p>If you need to add or remove "pages" from this template you need to do two things: first is to add or remove link in you navigation, and the second is to add / remove content section (div with .item class). After that be sure to check
                        if data-slide-to attriutes in your navigation links have proper values - these numbers say which "slide" will be displayed when you use particular link (which div with .item class will be shown). Keep it in mind that "slides" are
                        numbered from "0".
                    </p>
                    <p>I have removed all unnecessary styles from CSS file of this template to give you control over your website's final look - left only basic document and menu styles and styles for thumbnails / preview elements (click the "FIRST LINK"
                        in menu).
                    </p>

                    <p>Building your website with this template should be easy but if you need you can take a look at the example website made using this template (or even use this example for your needs). If you don't have it yet, <a href="https://github.com/margin-zero/website-03-template">download it from my GitHub</a>.</p>
                    <p>And finally... This template uses third party components (BOOTSTRAP, JQUERY) so respect proper licenses, images used in this template and example website are from <a href="http://unsplash.com">UnSplash.com</a> and are distributed under
                        CC0 licence.</p>
                </div>

            </div>

            <!-- FIRST LINK -->
            <div class="item">

                <div class="image-thumbs">
                    <img src="images/splashscreen.jpg" alt="image alt">
                </div>

                <p style="clear: both;">Example how to add clickable image thumbnails...</p>

                <footer class="container-fluid">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12">
                                &copy; Your site
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
            <!-- / FIRST LINK -->


            <!-- SECOND LINK -->
            <div class="item">

                Second link - put your content here...

                <footer class="container-fluid">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12">
                                &copy; Your site
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
            <!-- / SECOND LINK -->


            <!-- THIRD LINK -->
            <div class="item">

                Third link - put your content here...

                <footer class="container-fluid">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12">
                                &copy; Your site
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
            <!-- / THIRD LINK -->



            <!-- FOURTH LINK -->
            <div class="item">

                Fourth link - put your content here...

                <footer class="container-fluid">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12">
                                &copy; Your site
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
            <!-- / FOURTH LINK -->



            <!-- FIFTH LINK -->
            <div class="item">

                Fifth link - put your content here...

                <footer class="container-fluid">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12">
                                &copy; Your site
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
            <!-- / FIFTH LINK -->


        </div>

    </div>

    <div id="fullPageOverlay"><img id="imageBigSize" alt="image preview" src=""></div>

    <!-- / End - Main page content -->



    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


    <!-- Local JavaScript file -->
    <script src="js/local.js"></script>

</body>

</html>